<!DOCTYPE html>
<html lang="es">
<head>    
    <meta charset=UTF-8/>
    <meta http-equiv="X-UA-Compatible"content="IE=edge"></metahttp-equiv>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta http-equiv="refresh" content="300" >-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <title>Visor</title>
    <style>
        
      body {
        min-height: 100vh; 
        margin: 30px;
      }
  
    </style>
</head>
<body> 
    <div calss="container my-container">
        <div class="row my-row">
            <div class="col">
                <div class="card">
                    <h5 class="card-header">Header o Banner </h5>
                    <div class="card-body">
                      <h5 class="card-title" >Special title treatment</h5>
                      <i class="bi bi-sun"></i>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>                      
                    </div>
                  </div>
            </div> 
        </div>

        <div class="row my-row">
            <div class="col-3  my-col"> 
                <div class="card border-info" style="max-width: 15rem;"><!--row justify-content-md-center-->
                    <div class="card-body">
                        <h5 class="card-title" >Temperatura actual</h5>
                        <h6 class="card-subtitle mb-2 text-muted">ºC</h6>
                        <h1 id="feedback-bg-info">{{ tem }}</h1>
                    </div>
                </div>

                <div class="card border-info" style="max-width: 15rem;">
                    <div class="card-body">
                        <h5 class="card-title">Fuerza del viento</h5>
                        <h6 class="card-subtitle mb-2 text-muted">(m/s)</h6>
                        <h1>{{ viento }}</h1>
                    </div>
                </div>
                <div class="card border-info" style="max-width: 15rem;">
                    <div class="card-body">
                        <h5 class="card-title">Dirección del viento</h5>
                        <h6 class="card-subtitle mb-2 text-muted"></h6>
                        <h1>{{ dviento }}</h1>
                    </div>
                </div>
                <div class="card border-info" style="max-width: 15rem;">
                    <div class="card-body">
                        <h5 class="card-title">Agua caida</h5>
                        <h6 class="card-subtitle mb-2 text-muted">(l/m2)</h6>
                        <h1>{{ agua }}</h1>
                    </div>
                </div>

            </div>
            <div class="card border-success mb-3 col-5">
               <canvas id="canvas"></canvas>
            </div> 
            <div class="card border-success mb-3 col-4">
                <canvas id="myChart"></canvas>
            </div>
  
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Pie de página</h5>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
              </div>
        </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>
    $(document).ready(function () {
        const config = {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: "temperatura",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [],
                    fill: false,
                },
            ]},

            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Gráfico Temperatura Actual'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: '',
                    intersect: true
                },
                scales: {
                    xAxes: {
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Fecha'
                        }
                    },
                    yAxes: {
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: ''
                        },

                    },
                }
            }
        };

        const context = document.getElementById('canvas').getContext('2d');

        const lineChart = new Chart(context, config);

        const source = new EventSource("/chart-data");

        source.onmessage = function (event) {
            const data = JSON.parse(event.data);
            if (config.data.labels.length === 20) {
                config.data.labels.shift();
                config.data.datasets[0].data.shift();
            
            }
            config.data.labels.push(data.time);
            config.data.datasets[0].data.push(data.value);
            lineChart.update();
        }
    });
</script>
<script>
    const data = {
        labels: [
            'N',
            'NE',
            'E',
            'SE',
            'S',
            'SO',
            'O',
            'NO'
        ],
        datasets: [{
            label: 'Viento',
            data: [89, 50, 40, 6, 0, 0, 0, 14],
            fill: true,
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgb(255, 99, 132)',
            pointBackgroundColor: 'rgb(255, 99, 132)',
            pointBorderColor: '#fff',
            pointHoverBackgroundColor: '#fff',
            pointHoverBorderColor: 'rgb(255, 99, 132)'
        }]
    };

    const config = {
        type: 'radar',
        data: data,
        options: {
            elements: {
            line: {
                borderWidth: 3
            }
            }
        },
    };
</script>
<script>
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
</script>
<!-- 
<script>
    if(typeof(EventSource) !== "") {
        var source = new EventSource("/chart-data");
        
     source.onmessage = function(event) {
        document.getElementById("myDIV").innerHTML = event.data ;
     };
        
    } else {
        document.getElementById("myDIV").innerHTML = "no soportado par atu navegador...";
    }
    </script>
-->
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</html>

