body {
    min-height: 100vh; 
    margin: 30px;
    background: #00416a; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #00416a, #e4e5e6); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #00416a, #e4e5e6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#map {
    height: 100px;
    border-radius: 5px;
}

.card-header {
  font-weight: bold;
}

.titulo {
    height: 600px;
    width: 50%;
}

.graph {
    height: 400px;
}

.dato {
    opacity: .5;
    background-color: rgb(0, 0, 0);
    height: 200px;
    width: 50%;
}

.slide1 {
    height: 320px;
    border:1px solid #afcde3;
    border-radius: 5px;
}